body {
  font-family: 'Montserrat', sans-serif;
  background: #1F2227;
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

.warning {
  font-family: 'Montserrat', sans-serif;
  color: lightgray;
  font-size: 20px;
}